* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header,
footer,
.banner {
    background-color: #1f2937;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #f9faf8;
    padding: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 24px;
}

header .left {
}

header .right {
}

.main {
    display: flex;
    flex-direction: column;
}

.banner {
    display: flex;
    max-width: 800px;
}

.banner .left {
}

.banner .right {
}

.signup {
    background-color: #3882f6;
}

.info {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 200px;
}

.quoteBox {
    background-color: #e5e7eb;
    color: #1f2937;
    max-width: 800px;
    font-size: 36px;
    font-weight: 300;
}

.callToAction {
    background-color: #3882f6;
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
}

.callToAction .left {
}

.callToAction .right {
}

footer {
    text-align: center;
}
