* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

button {
    all: unset;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    height: 100vh;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    flex: 0;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
}

header .content {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header .content .links a {
    text-decoration: none;
    color: #f9faf8;
    padding: 12px;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 20px;
    border-radius: 10px;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    flex: 2;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero .content .left {
    flex: 1;
    max-width: 400px;
    padding: 18px;
}
.hero .content .right {
    flex: 1;
    max-width: 400px;
}

.hero .content .right img {
    width: 100%;
    height: auto;
}

.info {
    max-width: 1000px;
    margin: auto;
    flex: 2;
}

.info h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info .cards {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 18px;
}

.info .cards .card {
    max-width: 200px;
    flex: 1;
}

.quoteBox {
    background-color: #e5e7eb;
    flex: 1;
}

.quoteBox .content {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}

.quoteBox .quote {
    font-size: 36xp;
    color: #1f2937;
    font-weight: 300;
}

.callToAction {
    flex: 1;
    max-width: 800px;
    margin: 40px;
    padding: 15px 40px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.callToAction .left {
    line-height: 0;
}

.callToAction p {
    font-size: 12px;
    color: #e5e7eb;
}

.callToAction button {
    border: 2px solid #e5e7eb;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    justify-self: flex-end;
    flex: 0;
    text-align: center;
}
